.login {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/login-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.login-container {
  width: 63.5%;
  max-width: 1220px;
  height: 90%;
  background-color: #fff;
  overflow: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-title {
  padding: 5%;
  color: #8492af;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}

.login-title--blue {
  color: #5384ff;
}

.login-input {
  width: 47.3%;
  position: relative;
  display: flex;
}

@media screen and (max-width: 480px) {
    .login-input {
        width: 80%;
    }
    .login-user-icon {
        top: 25px;
    }
}

@media screen and (max-width: 1023px) {
  .login {
    height: auto;
    background: none;
  }
  .login-container {
    width: 100%;
  }
}

