.app-header {
    width: 100%;
    min-height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d4d9e3;
    padding: 0 50px;
}

.left-header-container,
.right-header-container {
    width: 25%;
    min-width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-link {
    width: 60px;
    display: flex;
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}