.app-header {
  width: 100%;
  min-height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d4d9e3;
  padding: 0 3%;
}

.left-header-container,
.right-header-container {
  width: 28%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-link {
  width: 60px;
  display: flex;
}

@media screen and (max-width: 1024px) { 
    .left-header-container,
    .right-header-container {
    width: 40%;
  }
  .left-header-container {
    min-width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .app-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-header-container,
  .right-header-container {
    width: 100%;
  }
}
