.header {
    height: 147px;
    min-height: 95px;
    width: 100%;
    background-color: #0e1a35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}
