.workflow-table {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.workflow-table .table .table-title .table-quantity::before {
  content: "(";
}

.workflow-table .table .table-title .table-quantity::after {
  content: ")";
}