.login__input-container {
    width: 100%;
}

.login__input-field {
    width: 100%;
    height: 56px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #d4d9e3;
    color: #0e1a35;
    font-weight: 300;
}

.login__input-field::placeholder {
    color: #8492af;
}

.login__input-field:focus {
    border-bottom: 1px solid #5384ff;
}